@page "/import-legacy"
@using CIS.DataAccess.Legacy


<div class="flex flex-col gap-2">
    <RadzenProgressBar 
        ProgressBarStyle="ProgressBarStyle.Primary" 
        Value="100" 
        Visible="_isImporting" 
        ShowValue="false" 
        Mode="ProgressBarMode.Indeterminate" />
    
    @if (_isImporting) 
    {
        <div class="flex flex-col justify-center items-center bg-white ">
            <p class="text-2xl text-center m-2 text-sky-500">Import - Legacy Data</p>

            <div class="w-full">
                <h3 class="text-lg mt-2 p-2 border-b border-b-sky-500">Loggmeldinger</h3>

                <div class="p-4">
                    @foreach (var logMessage in _logMessages)
                    {
                        <p class="p-2 border-b border-b-sky-500">@logMessage</p>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <h3 class="text-xl">Importering av data</h3>

        <div class="flex gap-2">
            <RadzenCard @onclick="StartBackgroundService">
                <h3 class="h5">START</h3>
            </RadzenCard>
            <RadzenCard>
                <h3 class="h5">Ordre</h3>
                <div class="d-flex flex-row">
                    <div>
                        <div>Antall: @_orderCount</div>
                    </div>
                </div>
            </RadzenCard>
            <RadzenCard>
                <h3 class="h5">Kunder/Butikker</h3>
                <div class="d-flex flex-row">
                    <div>
                        <div>Antall: @_customerCount</div>
                    </div>
                </div>
            </RadzenCard>
            <RadzenCard>
                <h3 class="h5">Varer</h3>
                <div class="d-flex flex-row">
                    <div>
                        <div>Antall: @_productCount</div>
                    </div>
                </div>
            </RadzenCard>
        </div>

        <div class="h-full">
            <RadzenTabs Visible="!_isImporting" Style="height: 100%" RenderMode="TabRenderMode.Server">
                <Tabs>
                    <RadzenTabsItem Text="Ordre">
                        <RadzenDataGrid 
                            TItem="Ordre"
                            Data="_legacyOrders"
                            Count="_legacyOrdersCount"
                            LoadData="LoadLegacyOrders"
                            FilterMode="FilterMode.Advanced"
                            AllowFiltering="true"
                            AllowPaging="true"
                            AllowSorting="true"
                            AllowMultiColumnSorting="true"
                            AllowColumnPicking="true"
                            AllowGrouping="true"
                            AllowColumnResize="true"
                            PageSize="100"
                            ColumnWidth="175px"
                            Style="height: 100%">
                            <Columns>
                                <RadzenDataGridColumn TItem="Ordre" Title="@nameof(Ordre.Id)" Property="@nameof(Ordre.Id)" />
                                <RadzenDataGridColumn TItem="Ordre" Title="@nameof(Ordre.Dato)" Property="@nameof(Ordre.Dato)" />
                                <RadzenDataGridColumn TItem="Ordre" Title="@nameof(Ordre.Butikknr)" Property="@nameof(Ordre.Butikknr)" />
                                <RadzenDataGridColumn TItem="Ordre" Title="@nameof(Ordre.VareId)" Property="@nameof(Ordre.VareId)" />
                                <RadzenDataGridColumn TItem="Ordre" Title="@nameof(Ordre.VarenrLev)" Property="@nameof(Ordre.VarenrLev)" />
                                <RadzenDataGridColumn TItem="Ordre" Title="@nameof(Ordre.VarenrSwn)" Property="@nameof(Ordre.VarenrSwn)" />
                                <RadzenDataGridColumn TItem="Ordre" Title="@nameof(Ordre.Ean)" Property="@nameof(Ordre.Ean)" />
                                <RadzenDataGridColumn TItem="Ordre" Title="@nameof(Ordre.Antall)" Property="@nameof(Ordre.Antall)" />
                                <RadzenDataGridColumn TItem="Ordre" Title="@nameof(Ordre.AntallLevert)" Property="@nameof(Ordre.AntallLevert)" />
                                <RadzenDataGridColumn TItem="Ordre" Title="@nameof(Ordre.Ordreref)" Property="@nameof(Ordre.Ordreref)" />
                                <RadzenDataGridColumn TItem="Ordre" Title="@nameof(Ordre.SendtLev)" Property="@nameof(Ordre.SendtLev)" />
                                <RadzenDataGridColumn TItem="Ordre" Title="@nameof(Ordre.Inserted)" Property="@nameof(Ordre.Inserted)" />
                                <RadzenDataGridColumn TItem="Ordre" Title="@nameof(Ordre.LevId)" Property="@nameof(Ordre.LevId)" />
                                <RadzenDataGridColumn TItem="Ordre" Title="@nameof(Ordre.Ordretype)" Property="@nameof(Ordre.Ordretype)" />
                                <RadzenDataGridColumn TItem="Ordre" Title="@nameof(Ordre.LevertDato)" Property="@nameof(Ordre.LevertDato)" />
                                <RadzenDataGridColumn TItem="Ordre" Title="@nameof(Ordre.OurPrice)" Property="@nameof(Ordre.OurPrice)" />
                                <RadzenDataGridColumn TItem="Ordre" Title="@nameof(Ordre.Innpris)" Property="@nameof(Ordre.Innpris)" />
                                <RadzenDataGridColumn TItem="Ordre" Title="@nameof(Ordre.NettOrdreRef)" Property="@nameof(Ordre.NettOrdreRef)" />
                                <RadzenDataGridColumn TItem="Ordre" Title="@nameof(Ordre.Bedriftspakke)" Property="@nameof(Ordre.Bedriftspakke)" />
                            </Columns>
                        </RadzenDataGrid>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Kunder/Butikker">
                        <RadzenDataGrid 
                            TItem="Butikkliste"
                            Data="_legacyStores"
                            Count="_legacyStoresCount"
                            LoadData="LoadLegacyStores"
                            FilterMode="FilterMode.Advanced"
                            AllowFiltering="true"
                            AllowPaging="true"
                            AllowSorting="true"
                            AllowMultiColumnSorting="true"
                            AllowColumnPicking="true"
                            AllowGrouping="true"
                            AllowColumnResize="true"
                            PageSize="100"
                            ColumnWidth="175px"
                            Style="height: 100%">
                            <Columns>
                                <RadzenDataGridColumn TItem="Butikkliste" Title="@nameof(Butikkliste.Butikknr)" Property="@nameof(Butikkliste.Butikknr)" />
                                <RadzenDataGridColumn TItem="Butikkliste" Title="@nameof(Butikkliste.Butikknavn)" Property="@nameof(Butikkliste.Butikknavn)" />
                                <RadzenDataGridColumn TItem="Butikkliste" Title="@nameof(Butikkliste.Gateadresse)" Property="@nameof(Butikkliste.Gateadresse)" />
                                <RadzenDataGridColumn TItem="Butikkliste" Title="@nameof(Butikkliste.Postnr)" Property="@nameof(Butikkliste.Postnr)" />
                                <RadzenDataGridColumn TItem="Butikkliste" Title="@nameof(Butikkliste.Poststed)" Property="@nameof(Butikkliste.Poststed)" />
                                <RadzenDataGridColumn TItem="Butikkliste" Title="@nameof(Butikkliste.Epost)" Property="@nameof(Butikkliste.Epost)" />
                                <RadzenDataGridColumn TItem="Butikkliste" Title="@nameof(Butikkliste.Kjedenr)" Property="@nameof(Butikkliste.Kjedenr)" />
                                <RadzenDataGridColumn TItem="Butikkliste" Title="@nameof(Butikkliste.RegionNr)" Property="@nameof(Butikkliste.RegionNr)" />
                                <RadzenDataGridColumn TItem="Butikkliste" Title="@nameof(Butikkliste.RegionNavn)" Property="@nameof(Butikkliste.RegionNavn)" />
                                <RadzenDataGridColumn TItem="Butikkliste" Title="@nameof(Butikkliste.Lokasjon)" Property="@nameof(Butikkliste.Lokasjon)" />
                                <RadzenDataGridColumn TItem="Butikkliste" Title="@nameof(Butikkliste.Konsept)" Property="@nameof(Butikkliste.Konsept)" />
                                <RadzenDataGridColumn TItem="Butikkliste" Title="@nameof(Butikkliste.Aktiv)" Property="@nameof(Butikkliste.Aktiv)" />
                                <RadzenDataGridColumn TItem="Butikkliste" Title="@nameof(Butikkliste.KredittSperre)" Property="@nameof(Butikkliste.KredittSperre)" />
                                <RadzenDataGridColumn TItem="Butikkliste" Title="@nameof(Butikkliste.Kundenr)" Property="@nameof(Butikkliste.Kundenr)" />
                                <RadzenDataGridColumn TItem="Butikkliste" Title="@nameof(Butikkliste.Telefon)" Property="@nameof(Butikkliste.Telefon)" />
                                <RadzenDataGridColumn TItem="Butikkliste" Title="@nameof(Butikkliste.DatoSisteordre)" Property="@nameof(Butikkliste.DatoSisteordre)" />
                            </Columns>
                        </RadzenDataGrid>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Varer">
                        <RadzenDataGrid 
                            TItem="Vareinfo"
                            Data="_legacyProducts"
                            Count="_legacyProductCount"
                            LoadData="LoadLegacyProducts"
                            FilterMode="FilterMode.Advanced"
                            AllowFiltering="true"
                            AllowPaging="true"
                            AllowSorting="true"
                            AllowMultiColumnSorting="true"
                            AllowColumnPicking="true"
                            AllowGrouping="true"
                            AllowColumnResize="true"
                            PageSize="100"
                            ColumnWidth="175px"
                            Style="height: 100%">
                            <Columns>
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.Id)" Property="@nameof(Vareinfo.Id)" />
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.VarenrSwn)" Property="@nameof(Vareinfo.VarenrSwn)" />
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.VarenrLev)" Property="@nameof(Vareinfo.VarenrLev)" />
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.Ean)" Property="@nameof(Vareinfo.Ean)" />
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.Varebeskrivelse2)" Property="@nameof(Vareinfo.Varebeskrivelse2)" />
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.Innpris)" Property="@nameof(Vareinfo.Innpris)" />
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.Utpris)" Property="@nameof(Vareinfo.Utpris)" />
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.Aktiv)" Property="@nameof(Vareinfo.Aktiv)" />
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.SistEndret)" Property="@nameof(Vareinfo.SistEndret)" />
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.VaretekstAlternativ)" Property="@nameof(Vareinfo.VaretekstAlternativ)" />
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.OurPrice)" Property="@nameof(Vareinfo.OurPrice)" />
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.OurMarginKr)" Property="@nameof(Vareinfo.OurMarginKr)" />
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.OurMarginP)" Property="@nameof(Vareinfo.OurMarginP)" />
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.MarginP)" Property="@nameof(Vareinfo.MarginP)" />
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.MarginKr)" Property="@nameof(Vareinfo.MarginKr)" />
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.Utpris2)" Property="@nameof(Vareinfo.Utpris2)" />
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.MarginP2)" Property="@nameof(Vareinfo.MarginP2)" />
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.MarginKr2)" Property="@nameof(Vareinfo.MarginKr2)" />
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.DatoInserted)" Property="@nameof(Vareinfo.DatoInserted)" />
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.Vgr1)" Property="@nameof(Vareinfo.Vgr1)" />
                                <RadzenDataGridColumn TItem="Vareinfo" Title="@nameof(Vareinfo.Vgr2)" Property="@nameof(Vareinfo.Vgr2)" />
                            </Columns>
                        </RadzenDataGrid>
                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </div>
    }
</div>

