@* @page "/sales-orders"
@using CIS.Library.Orders.Models.Import

<h3>Ordre - @_importState</h3>

<FluentTabs>
    <FluentTab Label="Oversikt">
        <RadzenDataGrid 
            SelectionMode="DataGridSelectionMode.Multiple"
            KeyProperty="@nameof(SalesOrderImportDefinition.Number)" 
            Count="_ordersToImport?.Count ?? 0" 
            Data="@_ordersToImport"
            FilterPopupRenderMode="PopupRenderMode.OnDemand" 
            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
            FilterMode="FilterMode.Advanced" 
            AllowSorting="true" 
            AllowFiltering="true" 
            AllowPaging="true" 
            PageSize="4"
            PagerHorizontalAlign="HorizontalAlign.Center" 
            TItem="SalesOrderImportDefinition" 
            ColumnWidth="200px">
            <Columns>
                <RadzenDataGridColumn 
                    TItem="SalesOrderImportDefinition" 
                    Property="@nameof(SalesOrderImportDefinition.Number)" 
                    Title="#" />
                <RadzenDataGridColumn 
                    TItem="SalesOrderImportDefinition" 
                    Property="@nameof(SalesOrderImportDefinition.CustomerName)" 
                    Title="Kunde" />
            </Columns>
            <LoadingTemplate>
                <RadzenProgressBarCircular 
                    ProgressBarStyle="ProgressBarStyle.Primary" 
                    Value="100" 
                    ShowValue="false" 
                    Mode="ProgressBarMode.Indeterminate" />
            </LoadingTemplate>
        </RadzenDataGrid>
    </FluentTab>
    <FluentTab Label="Import" >
        <div class="flex flex-col gap-2">
            <div class="flex gap-2 h-full">
                <div class="flex flex-col gap-2 flex-1 h-full">
                    <InputFile 
                        OnChange="@ImportExcelFile" 
                        accept=".xlsx" 
                        multiple="false" />

                    <RadzenButton 
                        Click="@ExecuteImport" 
                        Text="Kjør import" 
                        Disabled="_importState != ImportState.ReadingFinished"
                        ButtonStyle="ButtonStyle.Primary" />
                </div>
                <div class="overflow-auto min-w-[300px]">
                    <h3>Meldinger</h3>

                    @if (_importErrorMessages is not null)
                    {
                        <ul>
                            @foreach (var message in _importErrorMessages)
                            {
                                <li>@message</li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </FluentTab>
</FluentTabs>

 *@