
@if(Product is not null)
{
    <h3>@Product.Number - @Product.Name</h3>
    <p>Gruppe: @Product.ProductGroupName</p>
    <p>Kostpris: @Product.CostPrice</p>
    <p>Innkjøpspris: @Product.PurchasePrice</p>
    <p>Butikkpris/listepris: @Product.StorePrice</p>
}
