@page "/admin/customers"
@attribute [Authorize(Roles = UserTypes.ADMINISTRATOR)]
@using CIS.Application.Features.Stores.Models
@using CIS.Application.Features.Stores.Models.Import
@using Microsoft.AspNetCore.Authorization
@using CIS.Application
@using CIS.WebApp.Extensions
@using CIS.WebApp.Services
@using OfficeOpenXml
@using Radzen

<PageTitle>Kunder</PageTitle>
<h1 class="text-xl">Kunder</h1>

<RadzenTabs 
    @bind-SelectedIndex="_selectedTabIndex"
    Style="height: 100%" 
    RenderMode="TabRenderMode.Server">
    <Tabs>
        <RadzenTabsItem Text="Oversikt">
            <RadzenDataGrid 
                TItem="CustomerView" 
                Data="_customers"
                FilterMode="FilterMode.Advanced"
                AllowFiltering="true"
                AllowPaging="true"
                AllowSorting="true"
                AllowMultiColumnSorting="true"
                AllowColumnPicking="true"
                AllowGrouping="true"
                AllowColumnResize="true"
                PageSize="1000"
                Style="height: 100%">

                <Columns>
                    <RadzenDataGridColumn 
                        TItem="CustomerView"
                        Property="@nameof(CustomerView.Number)" 
                        Title="#"
                        Sortable="true" />
                    <RadzenDataGridColumn 
                        TItem="CustomerView"
                        Property="@nameof(CustomerView.Name)" 
                        Title="Navn" 
                        Sortable="true" />
                    <RadzenDataGridColumn 
                        TItem="CustomerView"
                        Property="@nameof(CustomerView.ContactPersonName)" 
                        Title="Kontakt"
                        Sortable="true" />
                    <RadzenDataGridColumn 
                        TItem="CustomerView"
                        Property="@nameof(CustomerView.ContactPersonEmailAddress)" 
                        Title="E-post"
                        Sortable="true" />
                    <RadzenDataGridColumn 
                        TItem="CustomerView"
                        Property="@nameof(CustomerView.ContactPersonPhoneNumber)"
                        Title="Telefon" 
                        Sortable="true" />
                    <RadzenDataGridColumn 
                        TItem="CustomerView"
                        Property="@nameof(CustomerView.IsActive)"
                        Title="Aktiv"
                        Context="data" 
                        Sortable="true">
                        <Template>
                            <RadzenCheckBox Value="@(data.IsActive)" ReadOnly=true />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Import">
            <div class="bg-white p-2 flex flex-col h-full w-full">
                <RadzenAlert Title="Informasjon" 
                    AlertStyle="AlertStyle.Info" 
                    Variant="Variant.Flat" 
                    Shade="Shade.Lighter">

                    <label>Ved importering av kunder blir også butikker importert</label>

                    <div class="mt-2">
                        <label>For å kjøre import:</label>
                        <ul style="list-style: auto; padding-left: 2rem;">
                            <li>Velg excel fil</li>
                            <li>Vent til dataen vises i tabellen</li>
                            <li>Trykk "Kjør import"</li>
                        </ul>
                    </div>
                </RadzenAlert>

                <div class="flex items-center gap-2 p-2">
                    <InputFile 
                        OnChange="@ImportExcelFile"
                        accept=".xlsx"
                        multiple="false" />
                    <RadzenButton 
                        Icon="download" 
                        Click="ExecuteImport" 
                        Text="Kjør import" />
                </div>

                <RadzenDataGrid 
                    @ref="_importDataGrid"
                    TItem="ImportCustomerDefinition" 
                    Data="_customerImportDefinitions"
                    FilterMode="FilterMode.Advanced"
                    AllowFiltering="true"
                    AllowPaging="true"
                    AllowSorting="true"
                    AllowMultiColumnSorting="true"
                    AllowColumnPicking="true"
                    AllowGrouping="true"
                    PageSize="1000"
                    Style="height: 100%">

                    <Columns>
                        <RadzenDataGridColumn 
                            TItem="ImportCustomerDefinition"
                            Property="@nameof(ImportCustomerDefinition.Number)" 
                            Title="#"
                            Sortable="true" />
                        <RadzenDataGridColumn 
                            TItem="ImportCustomerDefinition"
                            Property="@nameof(ImportCustomerDefinition.Name)" 
                            Title="Navn" 
                            Sortable="true" />
                        <RadzenDataGridColumn 
                            TItem="ImportCustomerDefinition"
                            Property="@nameof(ImportCustomerDefinition.ContactPersonName)" 
                            Title="Kontakt"
                            Sortable="true" />
                        <RadzenDataGridColumn 
                            TItem="ImportCustomerDefinition"
                            Property="@nameof(ImportCustomerDefinition.ContactPersonEmailAddress)" 
                            Title="Email"
                            Sortable="true" />
                        <RadzenDataGridColumn 
                            TItem="ImportCustomerDefinition"
                            Property="@nameof(ImportCustomerDefinition.ContactPersonPhoneNumber)"
                            Title="Telefon" 
                            Sortable="true" />

                        <RadzenDataGridColumn 
                            TItem="ImportCustomerDefinition"
                            Property="@nameof(ImportCustomerDefinition.IsActive)"
                            Title="Aktiv"
                            Context="data" 
                            Sortable="true">
                            <Template>
                                <RadzenCheckBox Value="@(data.IsActive)" ReadOnly=true />
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </div>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>



