@page "/admin/import-legacy"
@attribute [Authorize(Policy = UserTypes.ADMINISTRATOR)]
@using CIS.Application
@using CIS.Application.Legacy
@using Microsoft.AspNetCore.Authorization

<div class="flex flex-col gap-2 bg-white p-4">
    <RadzenProgressBar 
        ProgressBarStyle="ProgressBarStyle.Primary" 
        Value="100" 
        Visible="_isImporting" 
        ShowValue="false" 
        Mode="ProgressBarMode.Indeterminate" />
    
    @if (_isImporting) 
    {
        <div class="flex flex-col justify-center items-center bg-white ">

            <p class="text-2xl text-center m-2 text-sky-500">Import - Legacy Data</p>

            <div class="w-full">
                <h3 class="text-lg mt-2 p-2 border-b border-b-sky-500">Loggmeldinger</h3>

                <div class="p-4">
                    @foreach (var logMessage in _logMessages)
                    {
                        <p class="p-2 border-b border-b-sky-500">@logMessage</p>
                    }
                </div>
            </div>
        </div>
    }
    else if(_uncompletedMigrationTasks is not null)
    {
        <h3 class="text-xl">Importering</h3>
        <p>Importer data fra windows applikasjonen til det nye systemet</p>

        @if (_uncompletedMigrationTasks.Any())
        {
            <div class="flex gap-2 shadow-md p-4">
                <RadzenCard 
                    @onclick="StartBackgroundService" 
                    Style="cursor: pointer; display: flex; align-items: center;"
                    class="hover:shadow-md hover:bg-lime-400 hover:text-white">
                    <h3 class="h5 m-auto underline ">START</h3>
                </RadzenCard>

                <RadzenCard Visible="@ShowSalesOrders">
                    <h3 class="h5">Ordre</h3>
                    <div>Antall: @_orderCount</div>
                </RadzenCard>
                <RadzenCard Visible="ShowCustomers">
                    <h3 class="h5">Kunder/Butikker</h3>
                    <div>Antall: @_customerCount</div>
                </RadzenCard>
                <RadzenCard Visible="ShowProducts">
                    <h3 class="h5">Varer</h3>
                    <div>Antall: @_productCount</div>
                </RadzenCard>
                <RadzenCard Visible="ShowSalesStatistics">
                    <h3 class="h5">Salgstall</h3>
                    <div>Antall: @_salesStatisticsCount</div>
                </RadzenCard>
            </div>

            <InspectLegacyData></InspectLegacyData>
        }
    }
</div>

