@page "/admin/products"
@attribute [Authorize(Policy = UserTypes.ADMINISTRATOR)]
@using CIS.Application
@using CIS.Application.Features.Products.Models
@using CIS.Application.Features.Products.Models.Import
@using CIS.WebApp.Extensions
@using CIS.WebApp.Services
@using Microsoft.AspNetCore.Authorization
@using OfficeOpenXml

<PageTitle>Varer</PageTitle>
<h1 class="text-xl">Varer</h1>

<RadzenTabs 
    @bind-SelectedIndex="_selectedTabIndex"
    Style="height: 100%" 
    RenderMode="TabRenderMode.Server">
    <Tabs>
        <RadzenTabsItem Text="Oversikt">
            <RadzenDataGrid 
                @ref="_overviewGrid"
                TItem="ProductView" 
                Data="_products"
                FilterMode="FilterMode.Advanced"
                AllowFiltering="true"
                AllowPaging="true"
                AllowSorting="true"
                RowDoubleClick="OnRowDoubleClick"
                AllowMultiColumnSorting="true"
                AllowColumnPicking="true"
                AllowGrouping="true"
                AllowColumnResize="true"
                PageSize="1000"
                Style="height: 100%">

                <Columns>
                    <RadzenDataGridColumn 
                        TItem="ProductView"
                        Property="@nameof(ProductView.Number)" 
                        Title="#"
                        Sortable="true" />
                    <RadzenDataGridColumn 
                        TItem="ProductView"
                        Property="@nameof(ProductView.Name)" 
                        Title="Navn" 
                        Width="200px"
                        Sortable="true" />
                    <RadzenDataGridColumn 
                        TItem="ProductView"
                        Property="@nameof(ProductView.CostPrice)" 
                        Title="Kostpris"
                        Sortable="true" />
                    <RadzenDataGridColumn 
                        TItem="ProductView"
                        Property="@nameof(ProductView.PurchasePrice)" 
                        Title="Innkjøpspris"
                        Sortable="true" />
                    <RadzenDataGridColumn 
                        TItem="ProductView"
                        Property="@nameof(ProductView.StorePrice)"
                        Title="Butikkpris/Listepris" 
                        Sortable="true" />
                    <RadzenDataGridColumn 
                        TItem="ProductView"
                        Property="@nameof(ProductView.ProductGroupNumber)"
                        Title="Gruppe#" 
                        Sortable="true" />
                    <RadzenDataGridColumn 
                        TItem="ProductView"
                        Property="@nameof(ProductView.ProductGroupName)"
                        Title="Gruppe" 
                        Width="200px"
                        Sortable="true" />
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Import">
            <div class="bg-white p-2 flex flex-col h-full w-full">
                <RadzenAlert Title="Informasjon" 
                    AlertStyle="AlertStyle.Info" 
                    Variant="Variant.Flat" 
                    Shade="Shade.Lighter">

                    <div class="mt-2">
                        <label>For å kjøre import:</label>
                        <ul style="list-style: auto; padding-left: 2rem;">
                            <li>Velg excel fil</li>
                            <li>Vent til dataen vises i tabellen</li>
                            <li>Trykk "Kjør import"</li>
                        </ul>
                    </div>
                </RadzenAlert>

                <div class="flex items-center gap-2 p-2">
                    <InputFile 
                        OnChange="@ImportExcelFile"
                        accept=".xlsx"
                        multiple="false" />
                    <RadzenButton 
                        Icon="download" 
                        Click="ExecuteImport" 
                        Text="Kjør import" />
                </div>

                    <RadzenDataGrid 
                        @ref="_importDataGrid"
                        TItem="ImportProductDefinition" 
                        Data="_productImportDefinitions"
                        FilterMode="FilterMode.Advanced"
                        AllowFiltering="true"
                        AllowPaging="true"
                        AllowSorting="true"
                        AllowMultiColumnSorting="true"
                        AllowColumnPicking="true"
                        AllowGrouping="true"
                        PageSize="1000"
                        Style="height: 100%">

                        <Columns>
                            <RadzenDataGridColumn 
                                TItem="ImportProductDefinition"
                                Property="@nameof(ImportProductDefinition.Number)" 
                                Title="#"
                                Sortable="true" />
                            <RadzenDataGridColumn 
                                TItem="ImportProductDefinition"
                                Property="@nameof(ImportProductDefinition.Name)" 
                                Title="Navn" 
                                Width="200px"
                                Sortable="true" />
                            <RadzenDataGridColumn 
                                TItem="ImportProductDefinition"
                                Property="@nameof(ImportProductDefinition.CostPrice)" 
                                Title="Kostpris"
                                Sortable="true" />
                            <RadzenDataGridColumn 
                                TItem="ImportProductDefinition"
                                Property="@nameof(ImportProductDefinition.PurchasePrice)" 
                                Title="Innkjøpspris"
                                Sortable="true" />
                            <RadzenDataGridColumn 
                                TItem="ImportProductDefinition"
                                Property="@nameof(ImportProductDefinition.StorePrice)"
                                Title="Butikkpris/Listepris" 
                                Sortable="true" />
                            <RadzenDataGridColumn 
                                TItem="ImportProductDefinition"
                                Property="@nameof(ImportProductDefinition.ProductGroupNumber)"
                                Title="Gruppe#" 
                                Sortable="true" />
                            <RadzenDataGridColumn 
                                TItem="ImportProductDefinition"
                                Property="@nameof(ImportProductDefinition.ProductGroupName)"
                                Title="Gruppe" 
                                Width="200px"
                                Sortable="true" />
                        </Columns>
                    </RadzenDataGrid>
            </div>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>



