@page "/admin/sales-orders"
@attribute [Authorize(Policy = UserTypes.ADMINISTRATOR)]
@using CIS.Application
@using CIS.Application.Features.Orders.Contracts
@using CIS.Application.Legacy
@using Microsoft.AspNetCore.Authorization

<PageTitle>Bestillinger</PageTitle>
<h1 class="text-xl">Bestillinger</h1>

<RadzenTabs Style="height: 100%" RenderMode="TabRenderMode.Server">
    <Tabs>
        <RadzenTabsItem Text="Oversikt">
            <RadzenDataGrid 
                @ref="_overviewGrid"
                TItem="SalesOrderView"
                Data="_salesOrders"
                Count="_salesOrderCount"
                LoadData="LoadSalesOrders"
                FilterMode="FilterMode.Advanced"
                AllowFiltering="true"
                AllowPaging="true"
                AllowSorting="true"
                AllowMultiColumnSorting="true"
                AllowColumnResize="true"
                AllowColumnPicking="true"
                AllowGrouping="true"
                PageSize="100"
                Style="height: 100%">
                <Columns>
                    <RadzenDataGridColumn 
                        TItem="SalesOrderView" 
                        Title="#" 
                        Property="@nameof(SalesOrderView.Number)" />
                    <RadzenDataGridColumn 
                        TItem="SalesOrderView" 
                        Title="Dato"
                        Property="@nameof(SalesOrderView.OrderDate)" />
                    <RadzenDataGridColumn 
                        TItem="SalesOrderView" 
                        Title="Alternativt #" 
                        Property="@nameof(SalesOrderView.AlternateNumber)" />
                    <RadzenDataGridColumn 
                        TItem="SalesOrderView" 
                        Title="Referanse"
                        Property="@nameof(SalesOrderView.Reference)" />
                    <RadzenDataGridColumn 
                        TItem="SalesOrderView" 
                        Title="Levert dato" 
                        Property="@nameof(SalesOrderView.DeliveredDate)" />
                    <RadzenDataGridColumn 
                        TItem="SalesOrderView"
                        Title="Kunde#" 
                        Property="@nameof(SalesOrderView.CustomerNumber)" />
                    <RadzenDataGridColumn 
                        TItem="SalesOrderView" 
                        Title="Kunde" 
                        Property="@nameof(SalesOrderView.CustomerName)" />
                    <RadzenDataGridColumn 
                        TItem="SalesOrderView" 
                        Title="Butikk#" 
                        Property="@nameof(SalesOrderView.StoreNumber)" />
                    <RadzenDataGridColumn 
                        TItem="SalesOrderView" 
                        Title="Butikk"
                        Property="@nameof(SalesOrderView.StoreName)" />
                    <RadzenDataGridColumn 
                        TItem="SalesOrderView"
                        Title="Slettet" 
                        Property="@nameof(SalesOrderView.IsDeleted)" />
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Import - Excel">
            <RadzenSplitter Orientation="Orientation.Vertical" style="height: 100%; border: 1px solid rgba(0,0,0,.08);">
                <RadzenSplitterPane Min="300px" Size="75%">
                    <RadzenSplitter>
                        <RadzenSplitterPane Size="50%" Min="30px" Max="70%">
                            <div class="flex flex-col gap-2 flex-1 h-full bg-white">
                                <div class="flex gap-2 p-2 bg-white items-center justify-between">
                                    <InputFile 
                                        OnChange="@ImportExcelFile" 
                                        accept=".xlsx" 
                                        multiple="false" />
                                    <RadzenButton 
                                        ButtonStyle="ButtonStyle.Info" 
                                        class="mt-2 ml-auto"
                                        Click="ExecuteImport"
                                        Text="Kjør import" />
                                </div>
                                <RadzenDataGrid 
                                    @ref="_importDataGrid"
                                    SelectionMode="DataGridSelectionMode.Multiple"
                                    KeyProperty="@nameof(ImportSalesOrderDefinition.Number)" 
                                    Count="_orderImportDefinitions?.Count ?? 0" 
                                    Data="@_orderImportDefinitions"
                                    FilterPopupRenderMode="PopupRenderMode.OnDemand" 
                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    FilterMode="FilterMode.Advanced"
                                    AllowFiltering="true"
                                    AllowPaging="true"
                                    AllowSorting="true"
                                    AllowMultiColumnSorting="true"
                                    AllowColumnPicking="true"
                                    AllowGrouping="true"
                                    PageSize="1000"
                                    AllowColumnResize="true"
                                    PagerHorizontalAlign="HorizontalAlign.Center" 
                                    TItem="ImportSalesOrderDefinition" 
                                    ColumnWidth="100px"
                                    Style="height: 100%">
                                    <Columns>
                                        <RadzenDataGridColumn 
                                            TItem="ImportSalesOrderDefinition" 
                                            Property="@nameof(ImportSalesOrderDefinition.Number)" 
                                            Title="#" />
                                        <RadzenDataGridColumn 
                                            TItem="ImportSalesOrderDefinition" 
                                            Property="@nameof(ImportSalesOrderDefinition.AlternateNumber)" 
                                            Title="Alternativt#" />
                                        <RadzenDataGridColumn 
                                            TItem="ImportSalesOrderDefinition" 
                                            Property="@nameof(ImportSalesOrderDefinition.StoreNumber)" 
                                            Title="Butikk#" />
                                        <RadzenDataGridColumn 
                                            TItem="ImportSalesOrderDefinition" 
                                            Property="@nameof(ImportSalesOrderDefinition.StoreName)" 
                                            Title="Butikknavn" />
                                        <RadzenDataGridColumn 
                                            TItem="ImportSalesOrderDefinition" 
                                            Property="@nameof(ImportSalesOrderDefinition.CustomerNumber)" 
                                            Title="Kunde#" />
                                        <RadzenDataGridColumn 
                                            TItem="ImportSalesOrderDefinition" 
                                            Property="@nameof(ImportSalesOrderDefinition.CustomerName)" 
                                            Title="Kunde" />
                                        <RadzenDataGridColumn 
                                            TItem="ImportSalesOrderDefinition" 
                                            Property="@nameof(ImportSalesOrderDefinition.CustomerName)" 
                                            Title="Kunde" />
                                        <RadzenDataGridColumn 
                                            TItem="ImportSalesOrderDefinition" 
                                            Property="@nameof(ImportSalesOrderDefinition.IsDeleted)" 
                                            Title="Er slettet" />
                                    </Columns>
                                    <LoadingTemplate>
                                        <RadzenProgressBarCircular 
                                            ProgressBarStyle="ProgressBarStyle.Primary" 
                                            Value="100" 
                                            ShowValue="false" 
                                            Mode="ProgressBarMode.Indeterminate" />
                                    </LoadingTemplate>
                                </RadzenDataGrid>
                            </div>
                        </RadzenSplitterPane>
                        <RadzenSplitterPane Size="25%" Min="300px">
                            <div class="overflow-auto w-full h-full flex flex-col gap-2 p-4 bg-white">
                                <h3>Meldinger</h3>
                                <RadzenTextArea 
                                    Value="@_importMessages" 
                                    ReadOnly="true" 
                                    Style="height: 100%; resize: none;" 
                                    class="w-full h-full" 
                                    aria-label="TextArea" />
                            </div>
                        </RadzenSplitterPane>
                    </RadzenSplitter>
                </RadzenSplitterPane>
            </RadzenSplitter>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>
