@page "/admin/user-management"
@using CIS.Application
@using CIS.Application.Stores.Models
@using CIS.Application

<PageTitle>Tilgangstyring</PageTitle>
<h1 class="text-xl">Tilgangstyring</h1>

<RadzenTabs
    Style="height: 100%;">
    <Tabs>
        <RadzenTabsItem Text="Oversikt">
            <RadzenDataGrid 
                TItem="UserView" 
                Data="_userViews"
                FilterMode="FilterMode.Advanced"
                AllowFiltering="true"
                AllowPaging="true"
                AllowSorting="true"
                AllowMultiColumnSorting="true"
                AllowColumnPicking="true"
                AllowGrouping="true"
                AllowColumnResize="true"
                PageSize="1000"
                Style="height: 100%">

                <Columns>
                    <RadzenDataGridColumn 
                        TItem="UserView"
                        Property="@nameof(UserView.UserName)" 
                        Title="Brukernavn"
                        Sortable="true" />
                    <RadzenDataGridColumn 
                        TItem="UserView"
                        Property="@nameof(UserView.CustomerDisplay)" 
                        Title="Kunde"
                        Sortable="true" />
                    <RadzenDataGridColumn 
                        TItem="UserView"
                        Property="@nameof(UserView.Email)" 
                        Title="E-post"
                        Sortable="true" />
                    <RadzenDataGridColumn 
                        TItem="UserView"
                        Property="@nameof(UserView.PhoneNumber)" 
                        Title="Mobil" 
                        Width="200px"
                        Sortable="true" />
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Ny bruker">
            <div class="p-4 bg-white">
                <EditForm Model="NewUser" OnValidSubmit="HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="flex flex-col gap-2">
                        @if(NewUser.Role == UserTypes.ADMINISTRATOR)
                        {
                            <RadzenAlert 
                                AlertStyle="AlertStyle.Warning" 
                                Variant="Variant.Flat"
                                Text="Brukeren du er i ferd med å opprette er av typen Administrator."
                                Shade="Shade.Lighter" />
                        }

                        <div>
                            <label class="block mb-1">Brukernavn<span class="ml-1 text-red-400">*</span></label>
                            <RadzenTextBox
                                @bind-Value="@NewUser.UserName" 
                                AutoComplete="false"
                                Style="width: 100%;" />
                        </div>
                        <div>
                            <label class="block mb-1">E-post<span class="ml-1 text-red-400">*</span></label>
                            <RadzenTextBox
                                @bind-Value="@NewUser.Email" 
                                AutoComplete="false"
                                Style="width: 100%;" />
                        </div>

                        <div>
                            <label class="block mb-1">Passord<span class="ml-1 text-red-400">*</span></label>
                            <RadzenPassword 
                                @bind-Value="@NewUser.Password" 
                                AutoComplete="false"
                                Style="width: 100%;" />
                        </div>
                        <div>
                            <label class="block mb-1">Gjenta passord<span class="ml-1 text-red-400">*</span></label>
                            <RadzenPassword 
                                @bind-Value="@NewUser.RepeatPassword" 
                                AutoComplete="false"
                                Style="width: 100%;"  />
                        </div>
                        <div>
                            <label class="block mb-1">Rolle<span class="ml-1 text-red-400">*</span></label>
                            <RadzenDropDown 
                                @bind-Value="NewUser.Role"
                                TValue="string"
                                Data="_roles">
                                    <Template Context="roleContext">
                                        @GetRoleDisplayName(roleContext as string)
                                    </Template>
                                    <ValueTemplate Context="roleContext">
                                        @GetRoleDisplayName(roleContext as string)
                                    </ValueTemplate>
                                </RadzenDropDown>
                        </div>
                        @if(NewUser.Role == UserTypes.CUSTOMER)
                        {
                            <div>
                                <label class="block mb-1">Kunde<span class="ml-1 text-red-400">*</span></label>
                                <RadzenDropDown 
                                    @bind-Value="@NewUser.CustomerId"
                                    Data="_customers" 
                                    Style="width: 100%; max-width: 400px;" 
                                    TextProperty="@nameof(CustomerView.Name)"
                                    ValueProperty="@nameof(CustomerView.Id)">
                                    <Template Context="custContext">
                                        @{
                                            var customer = custContext as CustomerView;
                                        }

                                        @customer.Number - @customer.Name
                                    </Template>
                                    <ValueTemplate Context="custContext">
                                        @{
                                            var customer = custContext as CustomerView;
                                        }

                                        @customer.Number - @customer.Name
                                    </ValueTemplate>
                                </RadzenDropDown>
                            </div>
                        }

                        <RadzenButton 
                            Text="Opprett bruker" 
                            ButtonType="ButtonType.Submit"
                            ButtonStyle="ButtonStyle.Primary"/>
                    </div>
                </EditForm>
            </div>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

